<head>
    <title>Dashboard</title>
</head>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
     
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Auth
        </a>
  
     
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
          
            <a href="/auth/logout"  class="button is-light">
              Log out
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>


  <h3>Dashboards</h3>
  <h1 class="title">
    <%= name %> 
  </h1>