<head>
    <title>Home</title>
</head>

<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
     
     
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="/" class="navbar-item">
          Auth
        </a>
  
     
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="/auth/register" class="button is-primary">
              <strong>Register</strong>
            </a>
            <a href="/auth/login"  class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>